cukinia_user www-data
cukinia_user mysql
cukinia_user_memberof $USER sudo
cukinia_process udchcpd
cukinia_run_dir /etc/cukinia/tests.d
cukinia_process Xorg
cukinia_process nginx www-data
cukinia_python_pkg math
cukinia_http_request www.google.com
cukinia_mount sysfs /sys sysfs rw
cukinia_symlink /etc/network/interfaces /tmp/interfaces


# Those tests should always fail
cukinia_process nonexistent nonexistent
cukinia_user nonexistent
cukinia_http_request http://127.0.0.1:81/
cukinia_python_pkg nonexistent
not cukinia_mount /dev/nonex /nodir noopt
cukinia_symlink /etc/network/interfaces nonexistent

cukinia_log "result: $cukinia_failures failure(s)"
