cukinia_user www-data
cukinia_user mysql
cukinia_process udchcpd
cukinia_run_dirs /etc/cukinia/tests.d
cukinia_process Xorg
cukinia_process nginx www-data
cukinia_python_pkg math
cukinia_http_request www.google.com
cukinia_mount sysfs /sys rw

# Those tests should always fail
cukinia_process nonexistent nonexistent
cukinia_user nonexistent
cukinia_http_request http://127.0.0.1:81/
cukinia_python_pkg nonexistent
cukinia_mount nonexistent nonexistent nonexistent

cukinia_log "result: $cukinia_failures failure(s)"
