zucchini_user www-data
zucchini_user mysql
zucchini_process udchcpd
zucchini_run_dirs /etc/zucchini/tests.d
zucchini_process Xorg
zucchini_process nginx www-data
zucchini_python_pkg math
zucchini_http_request www.google.com

# Those tests should always fail
zucchini_process nonexistant nonexistant
zucchini_user nonexistant
zucchini_http_request www.google.com
zucchini_python_pkg nonexistant

